<!DOCTYPE html>
<html>
  <head>
    <title>MilanFlightBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <h1>Milan-flight-booker!</h1>
    </div>
    <%= yield %>
    <p><%= debug(params) if Rails.env.development? %></p>
  </body>
</html>
