<!DOCTYPE html>
<html>
  <head>
    <title>SkyScanna</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 id="logo">SkyScanna</h1>
        <div class="page-header">
          <h3>Pick your flight <small>fast and cheap</small></h3>
        </div>
      </div>
      <%= yield %>
      <p><%= debug(params) if Rails.env.development? %></p>
    </div>


  </body>
</html>
