<h1>Kittens#show</h1>
<p>Find me in app/views/kittens/show.html.erb</p>

<span><%= @kitten.name %></span>
<span><%= @kitten.age %></span>
<span><%= @kitten.cuteness %></span>
<span><%= @kitten.softness %></span>
<span><%= link_to "Hide kitty", kitten_path, method: :delete, data: { confirm: "Look at his eyes, and ask yourself once again"} %></span>
<br />
