<h1>All Flights:</h1>
<ul>
  <% @flights.each do |f| %>
    <li>Flight Number: <%= f.id %></li>
    <li>Flight from: <%= f.departure_airport.code %></li>
    <li>Flight to: <%= f.destination_airport.code %></li>
    <li>Start date: <%= f.start %></li>
    <li>Flight duration: <%= Time.at(f.duration).utc.strftime("%H:%M:%S") %></li>
    <hr>
  <% end %>

</ul>

<h2>Search flight</h2>


<%= form_for(:flight, method: :get) do |f| %>
  <%= f.label :from %>
  <%= f.select(:from_airport_id, options_for_select(@airport_options)) %>
  <%= f.label :to %>
  <%= f.select(:to_airport_id, options_for_select(@airport_options)) %>
  <%= f.label :passengers %>
  <%= f.select(:passengers, [1,2,3,4]) %>
  <%= f.label :date %>
  <%= f.select("flight_start", options_from_collection_for_select(@flights, 'start', :flight_date_formatted)) %>
  <%= f.submit "Search flight" %>
<% end %>







<!-- below all as commented out -->
<% if false %>
    <%= f.select(:date, Flight.all.collect {|f| [ f.start, f.id ]}) %>

    <%= search_field(:flight, :code) %>

    <%= form_for :flight do |f| %>
      <select name="airport_id">
        <% @airports.each do |a| %>
          <option value="<%= a.id %>"><%= a.code %></option>
        <% end %>
      </select>

      <%= f.select(:airport_id, @airport_options) %>
    <% end %>

<% end %>
