<html>
  <head>
    <title>Mastermind in Sinatra</title>
    <!-- <link rel="stylesheet" href="/../public/stylesheet.css"> -->
    <style>
      span {
        display: inline;
        width: 40%;
        margin: auto;
        border: 3px black;
      }
      body {
        background: beige;
      }
      .guess_column {
        float: left;
        position: center;
      }
      .check_column {
        float: right;
        position: center;
      }
      #error {
        color: #ff6666;      }
    </style>
  </head>
  <body>
  <h2>MASTERMIND</h2>
  <p id="error">
    <% unless error.nil? %>
      <%= error %>
    <% end %>
  </p>
  <% if message.nil? %>
    <form action="/" method="post">
      Your input (hint: in the following format "C C C C"):
      <input type="text" name="input"><br><br>
      <input type="submit" value="submit these pegs">
    </form>
  <% end %>

  <% unless message.nil? %>
    <%= message %>
  <% end %>

  <form action="/" method='GET'>
    <input type="submit" value="New Game">
  </form>

  <h1><%= goal %></h1>

  <% unless input.nil? %>
    <div>
      <span class="guess_column">
      <p>Your guesses:</p>
        <% slots.each do |row| %>
            <p><%= row %></p>
            <!-- <tr>
              <td><%= row %></td>
            </tr> -->
        <% end %>
      </span>
      <span class="check_column">
      <p>Check slots:</p>
        <% check_slots.each do |row| %>
            <p><%= row %></p>
            <!-- <tr>
              <td><%= row %></td>
            </tr> -->
        <% end %>
      </span>
    </div>
  <% end %>

  </body>
</html>
