<html>
  <head>
    <title>Mastermind in Sinatra</title>
    <!-- <link rel="stylesheet" href="../styles.css" type="text/css"> -->
    <style>
      span {
        display: inline;
        width: 40%;
        margin: auto;
        border: 3px black;
      }
      body {
        background: beige;
        font-family: arial;
      }
      .guess_column {
        float: left;
        position: center;
      }
      .check_column {
        float: right;
        position: center;
      }
      #error {
        color: #ff6666;
      }
      .link {
        text-decoration: none;
        font-weight: 600;
      }
      footer {
          clear: both;
          position: relative;
          z-index: 10;
          height: 3em;
      }
    </style>
  </head>

  <body>
  <h2>MASTERMIND</h2>

  <p id="error">
    <% unless error.nil? %>
      <%= error %>
    <% end %>
  </p>

  <% if message.nil? %>
    <form action="/" method="post">
      Your input (hint: in the following format "C C C C"):
      <input type="text" name="input"><br><br>
      <input type="submit" value="submit these pegs">
    </form>
  <% end %>

  <% unless message.nil? %>
    <%= message %>
  <% end %>

  <form action="/" method='GET'>
    <input type="submit" value="New Game">
  </form>

  <!-- <h1><%= goal %></h1> -->

  <% unless input.nil? %>
    <div>
      <span class="guess_column">
      <p>Your guesses:</p>
        <% slots.each do |row| %>
            <p><%= row %></p>
        <% end %>
      </span>
      <span class="check_column">
      <p>Check slots:</p>
        <% check_slots.each do |row| %>
            <p><%= row %></p>
        <% end %>
      </span>
    </div>
  <% end %>

  <footer>
    <a href="/rules" class="link" target="_blank">Rules</a>
  </footer>
  </body>
</html>
